extends layout

block content
  script(src='/javascripts/description.js')
  #deploy_center
    img(src='/images/csharp.png', id='csharp', onclick="doc('csharp');")
    img(src='/images/java.png', id='java', onclick="doc('java');")
    img(src='/images/node.png', id='node', onclick="doc('node');")
    img(src='/images/python.png', id='python', onclick="doc('python');")
    img(src='/images/ruby.png', id='ruby', onclick="doc('ruby');")
  #description
