extends layout

block content
    form.login_form(method='post', action='/')
        p.field
            textarea.info(rows='10',cols='33',name='info', readonly)= message
        p.submit
            button(type="submit", name="submit")
                i.icon-arrow-right.icon-large

