doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/vendor/bower_components/bootstrap/dist/css/bootstrap.css')
    script(src='/vendor/bower_components/jquery/dist/jquery.min.js')
  body
    header
      div.navbar.navbar-fixed-top.bg-light
        div.navbar-inner
          div.container
            ul.nav.pull-left: li: a(href='/') PaaS
            if user
              ul.nav.pull-right
                li
                  a(href='/logout') Logout
            else
              ul.nav.pull-right
                li
                  a(href='/login') Login
              ul.nav.pull-right
                li
                  a(href='/register') Register
            ul.nav.pull-right
              li
                a(href='/admin') Admin
            ul.nav.pull-right
              li
                a(href='/docs') Docs
      img.displayed(src='/images/paas.png')
    block content
