extends layout

block content
    form.login_form(method='post', action='/users/login')
        p.field
            input(type="text", name="userName", placeholder="Login or E-mail")
            i.icon-user.icon-large
        p.field
            input(type="password", name="password", placeholder="Password")
            i.icon-lock.icon-large
        p.submit
            button(type="submit", name="submit")
                i.icon-arrow-right.icon-large
