extends layout

block content
    form.login_form(method='post', action='/users')
        p.field
            input(type="text", name="userName", placeholder="User name")
            i.icon-user.icon-large
        p.field
            input(type="password", name="password", placeholder="Password")
            i.icon-lock.icon-large
        p.field
            textarea.public_key(rows='10',cols='33',name='key', placeholder='Paste your public key')
        p.submit
            button(type="submit", name="submit")
                i.icon-arrow-right.icon-large


//if user
//    h1= user.name
//    p you are logged)
//    hr
//    a(href='/users/logout') Exit if you wish
//else
//    h1 Register user
//    form(method='post', action='/users')
//        input(type='text', name='name')
//        input(type='text', name='userName')
//        input(type='password', name='password')
//        input(type='submit')
//        h3(style='text-transform:uppercase;')
//            small Admin access
//        label(for='key') Public key
//        textarea(name='keys', col = '70', row='7', id = 'key')
//        button(type='button', onclick='setup()') Finish Setup
//    h1 Login user
//    form(method='post', action='/users/login')
//        input(type='text', name='userName')
//        input(type='password', name='password')
//        input(type='submit')
script(type='text/javascript' src='public/javascript/setup.js')