body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


a {
  color: #00B7FF;
}


.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#deploy_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.login_form {
  width: 300px;
  margin: 60px auto 30px;
  padding: 10px;
  position: relative; /* For the submit button positioning */

  /* Styles */
  box-shadow:
          0 0 1px rgba(0, 0, 0, 0.3),
          0 3px 7px rgba(0, 0, 0, 0.3),
          inset 0 1px rgba(255,255,255,1),
          inset 0 -3px 2px rgba(0,0,0,0.25);
  border-radius: 5px;
  background: linear-gradient(#eeefef, #ffffff 10%);
}

.login_form .field {
  position: relative; /* For the icon positioning */
}

.login_form .field i {
  /* Size and position */
  left: 0px;
  top: 0px;
  position: absolute;
  height: 36px;
  width: 36px;

  /* Line */
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 1px 0 0 rgba(255, 255, 255, 0.7);

  /* Styles */
  color: #777777;
  text-align: center;
  line-height: 42px;
  transition: all 0.3s ease-out;
  pointer-events: none;
}
.login_form input[type=text],
.login_form input[type=password] {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-shadow: 0 1px 0 rgba(255,255,255,0.8);

  /* Size and position */
  width: 100%;
  padding: 10px 18px 10px 45px;

  /* Styles */
  border: none; /* Remove the default border */
  box-shadow:
          inset 0 0 5px rgba(0,0,0,0.1),
          inset 0 3px 2px rgba(0,0,0,0.1);
  border-radius: 3px;
  background: #f9f9f9;
  color: #777;
  transition: color 0.3s ease-out;
}

.login_form input[type=text] {
  margin-bottom: 10px;
}


.login_form input[type=text]:hover ~ i,
.login_form input[type=password]:hover ~ i {
  color: #52cfeb;
}

.login_form input[type=text]:focus ~ i,
.login_form input[type=password]:focus ~ i {
  color: #42A2BC;
}

.login_form input[type=text]:focus,
.login_form input[type=password]:focus,
.login_form button[type=submit]:focus {
  outline: none;
}

.login_form .submit {
  /* Size and position */
  width: 65px;
  height: 65px;
  position: absolute;
  top: 17px;
  right: -25px;
  padding: 10px;
  z-index: 2;

  /* Styles */
  background: #ffffff;
  border-radius: 50%;
  box-shadow:
          0 0 2px rgba(0,0,0,0.1),
          0 3px 2px rgba(0,0,0,0.1),
          inset 0 -3px 2px rgba(0,0,0,0.2);
}

.login_form .submit:after {
  /* Size and position */
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: -2px;
  left: 30px;

  /* Styles */
  background: #ffffff;

  /* Other masks trick */
  box-shadow: 0 62px white, -32px 31px white;
}

.login_form button {
  /* Size and position */
  width: 100%;
  height: 100%;
  margin-top: -1px;

  /* Icon styles */
  font-size: 1.4em;
  line-height: 1.75;
  color: white;

  /* Styles */
  border: none; /* Remove the default border */
  border-radius: inherit;
  background: linear-gradient(#52cfeb, #42A2BC);
  box-shadow:
          inset 0 1px 0 rgba(255,255,255,0.3),
          0 1px 2px rgba(0,0,0,0.35),
          inset 0 3px 2px rgba(255,255,255,0.2),
          inset 0 -3px 2px rgba(0,0,0,0.1);

  cursor: pointer;
}

.login_form button:hover,
.login_form button[type=submit]:focus {
  background: #52cfeb;
  transition: all 0.3s ease-out;
}

.login_form button:active {
  background: #42A2BC;
  box-shadow:
          inset 0 0 5px rgba(0,0,0,0.3),
          inset 0 3px 4px rgba(0,0,0,0.3);
}

.login_form p div {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);

  /* Size and position */
  width: 100%;
  padding: 10px 18px 10px 45px;

  /* Styles */
  border: none; /* Remove the default border */
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1),
  inset 0 3px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  background: #f9f9f9;
  color: #777;
  transition: color 0.3s ease-out;
}

.public_key {
  resize: none;
}

.info{
  color: firebrick;
}

#description {
  width: 80%;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ccc;
  padding: 5px;
}

.affix {
  position: fixed;
  top: 10%;
  right: 0;
  left: 0;
  z-index: 1030;
}
